@green: #c4ffdd;
@yellow:#fff9d1;
@orange: #ffe8d1;
@pink:#ffd7e1;
@purple:#f9e4ff;
@blue: #b3e0ff;

.container {
  padding-top: 200px;
  display:flex;
}

#C4 {
  height:100%
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: @green;
  background-color: @pink;
}

#C\#4 {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 200px solid;
  color: @yellow;
  background-color: @blue;
}

#D4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: @pink;
  background-color: @orange;
}

#D\#4 {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 200px solid;
  color: @blue;
  background-color: @green;
}

#E4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: @purple;
  background-color: @yellow;
}

#F4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: @yellow;
  background-color: @pink;
}

#F\#4 {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 200px solid;
  color: @blue;
  background-color: @orange;
}

#G4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: @yellow;
  background-color: @green;
}

#G\#4 {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 200px solid;
  color: #ffd7e1;
}

#A4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: #f9e4ff;
}

#A\#4 {
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 200px solid;
  color: #ffd7e1;
}

#B4 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: #f9e4ff;
}

#C5 {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 200px solid;
  color: #f9e4ff;
}
