body {
  font-family: 'Cutive Mono', monospace;
  font-size: 20px;
}

#saratan {
  text-align: right;
  padding-top: 20px;
}

#empty {
  text-align: left;
  padding-bottom: 20px;
}

.list {
  padding-bottom: 6px;
}

.spot {
  font-size: 55px;
  background-color: #cccccc;
  color: #b3b3b3;
  padding-right: 5px;
  padding-left: 5px;
}

.heading {
  font-size: 55px;
  background-color: #cccccc;
  color: #4d4d4d;
  padding-right: 5px;
  padding-left: 5px;
}

.drag {
  position: relative;
  cursor: pointer;
}

.centre {
  width: 695px;
  position: absolute;
  top:30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

hr {
  height: 1px;
  background-color: #737373;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #4d4d4d;
}

a:hover {
  background-color: #cccccc;
}
