body {
  // font-family: "Josefin Sans", sans-serif;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
}

button.not-jam {
  background-color: #e8f4ea;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 5px 5px #858585;
  color: #858585;
  text-decoration: none;
  font-family: "Source Code Pro", monospace;
  font-size: 18px;
}

#normal-grid-container {
  display: none;
  position: relative;
  padding-top: 140px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 200px 100px;
  width: 700px;
  margin: auto;
}

.sara-tan {
  text-align: center;
}

.triangle {
  width: 100px;
}

#sara-tan {
  width: 279px;
  height: 223px;
}
